<h1><a ui-sref="mainlist({model: collection, mainid: null, mainpopulate: null, maincollection: null})">{{collection}}</a></h1>
<table class="table table-hover">
	<tr ng-show="populateModel.id"><td ui-sref="mainlist.item.itemmodify({model: collection, mainid: null, mainpopulate: null, maincollection: null, id: populateModel.id})" class="clickable" ><strong>
		{{populateModel[showNamePop]}}
	</strong></td></tr>
</table>
<form class="form-inline" role="form" ng-submit="add()">
	<input ng-if="showNamePop!='id'" class="form-control" type="text" placeholder="New {{collection}} {{showNamePop}}" ng-model="newPopItem[showNamePop]" typeahead="item as item[showNamePop] for item in list | filter:{name:$viewValue} | limitTo:8">
	<button type="submit" class="btn btn-success" >Add new {{collection}}</button>
</form>
<br />

<input class="form-control" type="text" ng-model="search[showNamePop]" placeholder="Search">
<div>Sort list by: 
	<button class="btn btn-xs btn-success" ng-click="filter = 'updatedAt'; reverse=!reverse;">Date</button>
	<button class="btn btn-xs btn-success" ng-click="filter = showNamePop; reverse=!reverse;">Abc</button>
</div>
<span class="badge">{{list.length}}</span>
<table class="table table-hover">
	<tr ng-repeat="item in list | orderBy: filter: reverse | filter:search"><td class="clickable" ng-click="addFromList(item)"><strong>
		{{item[showNamePop]}}
	</strong></td></tr>
</table>
